<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="style.css">
  <script defer src="script.js"></script> 
</head>
<body>
    <nav>
        <ul>
          <li class="logo1"><img src="1.png" alt="Tata"><h1>TATA POWER</h1></li>
          <li class="auth"><a href="#" class="logi"><h2>SOLAROOF</h2></a> 
          <li class="auth"><a href="#" class="login-btn">Login</a> / 
            <a href="#" class="signup-btn">Signup</a></li>
        </ul>
      </nav>
  <div class="form-container">
    <form id="signup-form">
      <h1>Signup</h1>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <div class="form-buttons">
        <button type="reset">Reset</button>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
  <footer>
    In case of any concern / queries, please contact: +91-9981968250
    Mr Shreyas Mandora
    Business Development, Solar Rooftops
    <br>
    Legal Disclaimer | Privacy Policy | Terms of Use
    <br>
    © Tata Power Solar Systems Ltd. 2024
    <div id="socials-container">
      <a href="https://www.linkedin.com/company/tata-power/?originalSubdomain=in" target="_blank">
        <img src="linkedin.png" alt="LinkedIn" class="icon">
      </a>
      <a href="https://x.com/TataPower" target="_blank">
        <img src="link.png" alt="Twitter" class="icon">
      </a>
      <a href="https://www.instagram.com/tatapowercompanyltd/" target="_blank">
        <img src="ins.png" alt="Instagram" class="icon">
      </a>
      <a href="https://www.facebook.com/tatapower/" target="_blank">
        <img src="fac.png" alt="Facebook" class="icon">
      </a>
    </div>
  </footer>
</body>
</html>
